:root {
    --primary: #000000;
    --light: #ffffff;
    --grey: #efefef;
}
body {
    overflow: auto;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    color: var(--primary);
}

a:hover {
    text-decoration: none;
}

.bg-primary { background-color: var(--primary) !important; }

.bg-light { background-color: var(--light) !important; }

.bg-grey { background-color: var(--grey) !important; }

.bg-mix { background: linear-gradient(180deg, var(--light) 50%, var(--grey) 0); }

.btn-primary {
    background-color: var(--primary);
    border: 0;
}

.btn-primary:hover {
    background-color: var(--primary);
}

#sidebar-container {
    min-height: 100vh;
}

#sidebar-container .logo{
    padding: 0.875rem 1.25rem;
}

#sidebar-container .menu {
    width: 18rem;
}


.avatar {
    max-width: 35px;
}

label.error{

margin: 0px;
display: block;
color: red;
}

input.error{
border: 1px solid red;
color: red;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

