<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
		integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

	<!-- Styles -->
	<link rel="stylesheet" href="assets/css/style.css">

	<!-- Google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Muli:300,700&display=swap" rel="stylesheet">

	<!-- Ionic icons -->
	<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">






	<title>Administrador</title>

</head>

<body>
	<div class="d-flex" id="content-wrapper">

		<!-- Sidebar -->
		<div id="sidebar-container" class="bg-primary">
			<div class="logo"><br>
				<h4 class="text-light font-weight-bold mb-0">Administradora</h4>
			</div>
			<div class="menu">
				<a href="empleados" class="d-block text-light p-3 border-0"><i
						class="ion-ios-people lead mr-3"></i>Empleados</a>
				<a href="registrarempleados" class="d-block text-light p-3 border-0"><i
						class="icon ion-ios-person-add lead mr-3"></i>registrar empleados</a>
				<a th:href="@{/registroproductos}" class="d-block text-light p-3 border-0"><i
						class="icon ion-md-clipboard lead mr-3"></i>Registrar Nuevo producto</a>
				<a href="inventario" class="d-block text-light p-3 border-0"><i
						class="icon ion-md-copy lead mr-3"></i>Inventario</a>
				<a th:href="@{/Enviar_Correos}" class="d-block text-light p-3 border-0"><i class="icon ion-md-copy lead mr-3"></i>Enviar Correo</a>		



			</div>
		</div>
		<!-- Fin sidebar -->

		<div class="w-100">

			<!-- Navbar -->
			<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
				<div class="container">

					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<!-- boton busqueda -->
					<div class="collapse navbar-collapse"  id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
							<li class="nav-item dropdown">
								<a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button"
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Generar Reportes
								</a>
						<!-- Reporte de Clientes -->
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="/report/usuario/download?tipo=PDF">Empleados Activos (A la Fecha)</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
						<div class="dropdown-divider"></div>
                    </div>
					</div>
					</li>
						</ul>

						<!--menu derecho  -->
						<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
							<li class="nav-item dropdown">
								<a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button"
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<img src="imagenes/perfilana.jpeg" class="img-fluid rounded-circle avatar mr-2">
									Maria del Pilar Orozco
								</a>
								<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="administrador">Mi perfil</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
						<div class="dropdown-divider"></div>
                    </div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<!-- Fin Navbar -->
			<!-- contenido central -->
			<section>
				<h1 class="text-center">Empleados</h1>

				<div class="container">
					<div class="row">
						<div class="col-lg-16">
						
						
						


							<table id="Empleados" class="table table-bordered  display nowrap" cellspacing="15"
								whidth="120%">

								<thead>
									<tr>
										<th>Codigo de Empleado</th>
										<th>Nombre</th>
										<th>Apellido</th>
										<th>Clave</th>
										<th>Telefono</th>
										<th>Fecha nacimento</th>
										<th>Direccion</th>
										<th>Rol</th>
										<th>Correo</th>
										<th>Acciones</th>
									</tr>

								</thead>
								<tbody>

									<tr th:each="usuario:${usuarios}">
										<td th:text="${usuario.id_usuario}"></td>
										<td th:text="${usuario.nombre}"></td>
										<td th:text="${usuario.apellido}"></td>
										<td th:text="${usuario.clave}"></td>
										<td th:text="${usuario.telefono}"></td>
										<td th:text="${usuario.fecha_nacimiento}"></td>
										<td th:text="${usuario.direccion}"></td>
										<td th:text="${usuario.rol.rolName}"></td>
										<td th:text="${usuario.correo}"></td>


										<td>

											<a th:onclick="eliminaru([[${usuario.id_usuario}]])"
												class="btn btn-danger">eliminar</a>
										</td>

									</tr>
								</tbody>
							</table>

						</div>
			</section>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.6.0.js"
		integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="usuario.js"></script>



	<!-- jQuery first, then Popper.js, then Bootstrap JS -->

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>

	<!--   Datatables-->
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>

	<!-- extension responsive -->
	<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>


	<!-- jQuery first, then Popper.js, then Bootstrap JS -->

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>

	<style>
		:root {
			--primary: #000;
			--light: #ffffff;
			--grey: #efefef;
		}


		body {
			overflow: auto;
			font-family: 'Muli', sans-serif;
			font-weight: 300;
			color: var(--primary);
		}

		a:hover {
			text-decoration: none;
		}

		.bg-primary {
			background-color: var(--primary) !important;
		}

		.bg-light {
			background-color: var(--light) !important;
		}

		.bg-grey {
			background-color: var(--grey) !important;
		}

		.bg-mix {
			background: linear-gradient(180deg, var(--light) 50%, var(--grey) 0);
		}

		.btn-primary {
			background-color: var(--primary);
			border: 0;
		}

		.btn-primary:hover {
			background-color: var(--primary);
		}

		#sidebar-container {
			min-height: 100vh;
		}

		#sidebar-container .logo {
			padding: 0.875rem 1.25rem;
		}

		#sidebar-container .menu {
			width: 18rem;
		}



		.avatar {
			max-width: 35px;
		}

		.btn-primary:hover {
			background-color: var(--primary);
		}

		#sidebar {
			width: 20%;
			height: 100vh;
			background: #000;
		}

		#sidebar-container .logo {
			padding: 0.875rem 1.25rem;
		}




		/* sección */
		section {
			width: 70%;
			height: 20%;

			margin: 15px 180px;
		}

		section tr :hover {
			background-color: rgb(184, 190, 190);
		}


		table thead {
			background-color: #f38609;
		}
	</style>

	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
	<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
	<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
	<script>
		$(document).ready(function () {
			var table = $('#Empleados').DataTable({
				lengthChange: false,
				buttons: ['colvis']
			});

			table.buttons().container()
				.appendTo('#Empleados_wrapper .col-md-6:eq(0)');
		});
	</script>
































</body>

</html>