<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Crear Detalle</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- Styles -->
<link rel="stylesheet" href="/css/listarventas.css">
</head>

<body>
	<div class="d-flex" id="content-wrapper">

		<!-- Sidebar -->
		<div id="sidebar-container" class="bg-primary">
			<div class="logo">
				<h4 class="text-light font-weight-bold">Vendedor</h4>
			</div>
			<div class="menu">
				<a th:href="@{/listarFactura}"
					class="d-block text-light p-3 border-0"><i
					class="icon ion-md-apps lead mr-2"></i> Listar factura</a> <a
					th:href="@{/newFactura}" class="d-block text-light p-3 border-0"><i
					class="icon ion-md-people lead mr-2"></i> Registrar factura</a>
			</div>
		</div>
		<!-- Fin sidebar -->

		<div class="w-100">

			<!-- Navbar -->
			<nav
				class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
				<div class="container">

					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<form class="form-inline position-relative d-inline-block my-2">
							<input class="form-control" type="search" placeholder="Buscar"
								aria-label="Buscar">
							<button class="btn position-absolute btn-search" type="submit">
								<i class="icon ion-md-search"></i>
							</button>
						</form>
						<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
							<li class="nav-item dropdown"><a
								class="nav-link text-dark dropdown-toggle" href="#"
								id="navbarDropdown" role="button" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false"> <img
									src="imagenes/perfilana.jpeg"
									class="img-fluid rounded-circle avatar mr-2"> Vendedor
							</a>
								<div class="dropdown-menu dropdown-menu-right"
									aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="vendedor">Mi perfil</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" th:href="@{/Dynamic_System}">Cerrar
										sesión</a>
								</div></li>
						</ul>
					</div>
				</div>
			</nav>
			<!-- Fin Navbar -->

			<!-- Page Content -->
			<div id="content" class="bg-grey w-100">
				<section>
					<div class="container mt-4">
						<div class="row">
							<div class="col">
								<form th:action="@{/saveDetalle}" th:object=${detalleF}
									method="POST" id="ndetalle">
									<div class="card">
										<div class="card-header">
											<h1>Crear Detalle</h1>
										</div>
										<div class="card-body">
											<div class="form-group">
												<label>Codigo del Detalle</label> <input type="number"
													class="form-control" readonly>
											</div>
											<div>
												<label>Codigo de la Factura</label> <input type="number"
													  th:field="*{factura.id_factura}" class="form-control"
													readonly>
											</div>
											<div>
												<label>Productos</label> <select
													th:field="*{detalleProducto.id_producto}"
													class="form-control" name="producto">
													<option th:each="producto:${productos}"
														th:value="${producto.id_producto}"
														th:text="${producto.nombre}" />
												</select>
											</div>
											<div class="form-group">
												<label>Cantidad</label> <input type="number"
													class="form-control" name="cantidad">
											</div>
											<div class="form-group">
												<label>Precio</label> <input type="number"
													class="form-control" name="precio">
											</div>
										</div>
										<div class="card-footer">
											<input type="submit" value="Guardar" class="btn btn-danger">
										</div>
									</div>
								</form>

							</div>
						</div>
					</div>
				</section>

			</div>

		</div>
	</div>

	<!-- Scripts -->
	<script src="https://code.jquery.com/jquery-3.6.0.js">
		
	</script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="../funciones.js"></script>

	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>-->
	<!-----<script src="nuevodetalle.js"></script>------>

	<!--   Datatables-->
	<script type="text/javascript"
		src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>

	<!-- extension responsive -->
	<script
		src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>

</body>

</html>